{% set currentPage = ((searchResult.criteria.offset + 1) / searchResult.criteria.limit )|round(0, 'ceil') %}
{% set paginationConfig = { page: currentPage }|json_encode %}
{% set current = app.request.query.get('order') %}
{% set place = app.request.cookies.get('place')|default('') %}

{% if disableEmptyFilter is not defined %}
    {% set disableEmptyFilter = config('core.listing.disableEmptyFilterOptions') %}
{% endif %}
{% set listingPagination = {
    dataUrl: url('frontend.cms.page', { id: cmsPage.id }),
    filterUrl: filterUrl,
    params: params,
} %}
{% block shop_point_listing %}
    <div class="cms-element-product-listing-wrapper"
         data-listing-pagination="true"
         data-listing-pagination-options='{{ paginationConfig }}'
         data-listing="true"
         data-listing-options='{{ listingPagination|json_encode }}'>

        {% block element_shop_point_listing_wrapper_content %}
            <div class="loading-block d-none">
                <div class="lds-dual-ring"></div>
            </div>
            <div class="cms-element-product-listing">
                {% block cms_shop_point_filter %}
                    <div class="col-md-auto" style="width: fit-content; margin-left: auto;">
                    {% set config = { sorting: current } %}
                    {% block shop_point_sorting_wrapper_content %}
                        <div class="sorting" data-listing-sorting="true"
                             data-listing-sorting-options='{{ config|json_encode }}'>
                            {% block shop_point_sorting_select %}
                                <select class="sorting form-select"
                                        aria-label="{{ 'general.sortingLabel'|trans|striptags }}">
                                    {% for sorting in searchResult.extensions.sorting.options %}
                                        {% set key = sorting.key %}
                                        {% set isDisabled = sorting.extensions.accessibility.disabled|default(false) %}
                                        <option data-shoppoint="true"
                                                value="{{ key }}"
                                                {% if key == current %}selected{% endif %}
                                                {% if isDisabled %}disabled{% endif %}
                                        >
                                            {{ sorting.translated.label|trans }}
                                        </option>
                                    {% endfor %}
                                </select>
                            {% endblock %}
                            {% block shop_point_zipcode_sorting_content %}
                                <div class="zipcode-sort-wrapper d-flex my-3">
                                    {% block shop_point_zipcode_sorting_input %}
                                        <input type="text" class="form-control me-3" id="autocomplete"
                                               value="{{ place }}"
                                               placeholder="{{ 'rc-shop-point.listing.sort.zipCode' | trans }}"/>
                                    {% endblock %}
                                    {% block shop_point_zipcode_sorting_current_location %}
                                        <button class="btn btn-primary" id="sortCurrentLocationButton"
                                                title="{{ 'rc-shop-point.listing.sort.currentLocation' | trans }}">{{ 'rc-shop-point.listing.sort.currentLocation' | trans }}</button>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
                {% endblock %}

                {% block element_shop_point_listing_row %}
                    <div class="row cms-listing-row js-listing-wrapper">
                        {% if searchResult.total > 0 %}
                            {% block element_product_listing_col %}
                                {% for shopPoint in searchResult %}
                                    <div class="cms-listing-col {{ listingColumns }}">
                                        {% block element_shop_point_listing_box %}
                                            {% sw_include '@ShopPoints/storefront/component/shopPoint/card/box.html.twig' with {
                                                'layout': boxLayout,
                                                'displayMode': displayMode
                                            } %}
                                        {% endblock %}
                                    </div>
                                {% endfor %}
                            {% endblock %}
                        {% else %}
                            {% block element_shop_point_listing_col_empty %}
                                <div class="cms-listing-col col-12">
                                    {% block element_shop_point_listing_col_empty_alert %}
                                        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                            type: 'info',
                                            content: 'listing.emptyResultMessage'|trans|sw_sanitize
                                        } %}
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        {% endif %}
                    </div>
                {% endblock %}

                {% if searchResult.total > searchResult.limit %}
                    {% block element_shop_point_listing_pagination_nav_bottom %}
                        {% sw_include '@Storefront/storefront/component/pagination.html.twig' with {
                            entities: searchResult,
                            criteria: searchResult.criteria,
                            paginationLocation: 'bottom',
                        } %}
                    {% endblock %}
                {% endif %}
            </div>
        {% endblock %}
        <template data-shop-point-plugin></template>
    </div>
{% endblock %}
