{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    {% set shopPoint = page.shopPoint %}
    <div class="shop-point-detail p-sm-0">
        <div class="row shop-point-heading pb-2">
            <div class="col-sm-12 col-md-3">
                <div class="d-flex justify-content-center align-items-center h-100 pt-2" id="name">
                    <h2>{{ shopPoint.name }}</h2>
                </div>
            </div>
            <div class="col-sm-12 col-md-9" id="cover">
                <img src="{{ shopPoint.cover.media.url }}">
                {% if shopPoint.betweenOpeningHours %}
                    <span class="badge bg-success">
                        {{ "rc-shop-point.open"|trans|sw_sanitize }}
                    </span>
                {% endif %}
            </div>
        </div>
        <div class="row pt-sm-0  pt-md-5 shop-point-detail-info">
            <div class="col-xl-3 d-none d-xl-block">
                {% set imageFound = false %}
                {% for id, image in shopPoint.mediaList.elements %}
                    {% if id != shopPoint.cover.id and imageFound == false %}
                        {% set imageFound = true %}
                        <img src="{{ image.media.url }}">
                    {% endif %}

                {% endfor %}
            </div>
            <div class="col-xl-6 col-lg-7">
                <div class="row">
                    <div class="col-12" id="description">
                        <p>{{ shopPoint.translated.description }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5>{{ shopPoint.name }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto mr-3">
                        <p>
                            {{ shopPoint.number }} {{ shopPoint.street }}<br>
                            {{ shopPoint.zipCode }} {{ shopPoint.city }}
                        </p>
                    </div>
                    <div class="col-auto">
                        <p>
                            {{ shopPoint.phoneNumber }}<br>
                            {{ shopPoint.contactEmail }}
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-xl-3 col-lg-5 mr-2">
                <div class="p-4" id="openingHours">
                    <div class="row">
                        <div class="col-12 mt-2">
                            <h5>{{ 'openingsuren'|trans }}:</h5>
                        </div>
                    </div>
                    <div class="row pt-3">
                        {% set openingHours = getOpeningHoursArray(shopPoint) %}
                        <div class="col-auto day-col">
                            <p>
                                {% for day, opening in openingHours %}
                                    {{ day }}:<br>
                                {% endfor %}
                            </p>
                        </div>
                        <div class="col-auto hours-col">
                            <p>
                                {% for day, opening in openingHours %}
                                    {{ opening }}<br>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 shop-point-slider">
            {% set mediaItems = page.shopPoint.mediaList.media %}

            {% block page_product_detail_media %}
                <div class="col-lg-12 product-detail-media">
                    {% if page.shopPoint.mediaList|length > 2 %}
                        {% sw_include '@Storefront/storefront/element/cms-element-image-gallery.html.twig' with {
                            'mediaItems': mediaItems,
                            'zoom': false,
                            'zoomModal': true,
                            'displayMode': 'contain',
                            'gutter': 5,
                            'minHeight': '600px',
                            'navigationArrows': 'inside',
                            'navigationDots': false,
                            'galleryPosition': 'underneath',
                            'fallbackImageTitle': page.shopPoint.name,
                            'startIndexThumbnails': 3,
                            'startIndexSlider': 2,
                            'keepAspectRatioOnZoom': true
                        } %}
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
