{% sw_extends '@Storefront/storefront/page/content/index.html.twig' %}

{% block cms_breadcrumb %}
    <div class="breadcrumb cms-breadcrumb container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">

                <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                    <a href="{{ path('frontend.list.shopPoint.page') }}" class="breadcrumb-link is-active" title="{{ 'rc-shop-point.shop-points.label' |trans }}" itemprop="item">
                        <link itemprop="url" href="{{ path('frontend.list.shopPoint.page') }}">
                        <span class="breadcrumb-title" itemprop="name">{{ 'rc-shop-point.shop-points.label' |trans }}</span>
                    </a>
                    <meta itemprop="position" content="1">
                </li>
            </ol>
        </nav>
    </div>
{% endblock %}
