<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block shop_point_detail_general %}
    <div class="shop-point-detail-general">
        <template v-if="isLoading">
            <sw-skeleton variant="detail-bold" />
            <sw-skeleton />
        </template>
        <template v-else>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block rc_shop_point_base_basic_info_card %}
                <sw-card
                        class="sw-product-detail-base__info"
                        position-identifier="shop-point-detail-base-info"
                        :title="$tc('sw-product.detailBase.cardTitleProductInfo')"
                >

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_product_detail_base_basic_info_form %}
                        <shop-point-base-form/>
                    {% endblock %}

                </sw-card>
            {% endblock %}
{#            <sw-card#}
{#                position-identifier="shop-point-detail-media-list"#}
{#            >#}
{#                <shop-point-media-form#}
{#                        :shop-point-id="shopPoint.id"#}
{#                        @media-open="onOpenMediaModal"#}
{#                />#}
{#            </sw-card>#}

{#            {% block sw_product_detail_base_media_modal %}#}
{#                <sw-media-modal-v2#}
{#                        v-if="showMediaModal"#}
{#                        :initial-folder-id="mediaDefaultFolderId"#}
{#                        :entity-context="shopPoint.getEntityName()"#}
{#                        @media-modal-selection-change="onAddMedia"#}
{#                        @modal-close="onCloseMediaModal"#}
{#                />#}
{#            {% endblock %}#}
        </template>
    </div>
{% endblock %}
