<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block shop_point_detail_general %}
    <div class="shop-point-detail-general">
        <template v-if="isLoading">
            <sw-skeleton variant="detail-bold" />
            <sw-skeleton />
        </template>
        <template v-else>

            {% block rc_shop_point_opening_hours_card %}
                <sw-card
                        class="sw-product-detail-base__info"
                        position-identifier="shop-point-address"
                        :title="$tc('rc-shop-point.detail.address')"
                >

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_product_detail_base_basic_info_form %}
                        <shop-point-address-form/>
                    {% endblock %}
                </sw-card>
            {% endblock %}
        </template>
    </div>
{% endblock %}
