<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_shop_point_box_preview %}
<div
    class="sw-cms-shop-point-box-preview"
>
    <div class="shop-point-box">
        <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset"
             alt=""
        >
        <button>Point</button>
    </div>
</div>
{% endblock %}
