@import "~scss/variables";
.sw-cms-shop-point-box-preview {
    display: flex;
    .shop-point-box {
        margin: 3px;
        border: 1px solid black;
        height: 110px;
        width: 100%;

        img {
            width: calc(100% - 30px);
            margin: 10px 15px;
        }

        button {
            padding: 5px 15px;
            margin-left: 50%;
            transform:translateX(-50%);
            overflow: hidden;
        }
    }
}

