.loading-block {
  background-color: $sw-background-color;
  z-index: 9999;
  display:flex;
  .lds-dual-ring {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    //margin-left: 50%;
    //margin-top: 50%;
    //transform: translate(-50%, 50%);
    border-radius: 50%;
    border: 6px solid $sw-color-brand-primary;
    border-color: $sw-color-brand-primary transparent $sw-color-brand-primary transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.gm-style {
  padding: 0 !important;
  .gm-style-iw {
    padding: 0 !important;
    &.gm-style-iw-c {
      &[role=dialog] {
        -webkit-transform: translate3d(-70%,-100%,0);
        transform: translate3d(-70%,-100%,0);
        max-height: 300px !important;
        height: fit-content !important;
        //left: -80px !important;
      }
      padding: 0 !important;
    }
    .gm-style-iw-d {
      padding: 0 !important;
      overflow: auto !important;
      max-height: 300px !important;
      .details {
        text-decoration: none !important;
        display: flex;
        flex-direction: column;
        //max-width: 150px;
        .image-container {
          display: flex !important;
          width: 100% !important;
          img {
            padding: 0 !important;
            //max-width: 100px !important;
            height: auto;
            width: 100%;
            max-height: 100px;
            object-fit: cover !important;
          }
        }
        .text-container {
          padding: 15px;
          display: flex;
          flex-direction: column;
          color: #000;

          .name {
            font-weight: 500;
            font-size: 1.2rem;
          }
          .place {
            font-weight: 200;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
//.gm-style-iw .gm-style-iw-c {
//  padding: 0 !important;
//}
//.gm-style .gm-style-iw-c {
//  padding: 0 !important;
//}
//.gm-style .gm-style-iw-d {
//  padding: 0.5rem !important;
//}
button {
  &.gm-ui-hover-effect {
    display: none !important;
  }
}

@keyframes drop {
  0% {
    transform: translateY(-200px) scaleY(0.9);
    opacity: 0;
  }
  5% {
    opacity: 0.7;
  }
  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px) scaleY(0.9);
    opacity: 1;
  }
  75% {
    transform: translateY(-22px) scaleY(0.9);
    opacity: 1;
  }
  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}
.drop {
  animation: drop 0.3s linear forwards var(--delay-time);
}

.shop-point-detail {
  min-width: 300px;
  .shop-point-heading {
    min-height: 300px;

    img {
      width: 100%;
      object-fit: cover;
      max-height: 300px;
    }

    #name {
      background-color: rgba(84, 103, 93, 0.09);;
    }

    #cover {
      position: relative;

      span {
        position: absolute;
        top: 10px;
        right: 28px;
        padding: 0 8px;
        height: 32px;
        margin: 0 0 8px;
        line-height: 32px;
        font-weight: 700;
        color: #fff;
        border-radius: 0 3px 3px 0;
        border-color: transparent;
        font-size: 18px;
        letter-spacing: 0;
      }
    }
  }
  .shop-point-detail-info {
    img {
      width: 100%;
      object-fit: cover;
      max-height: 300px;
    }

    #description {
      min-height: 150px;
    }
    #openingHours {
      min-width: 303px;
      min-height: 300px;
      background-color: rgba(84, 103, 93, 0.09);
      .day-col {
        padding-right: 0;
      }
      .hours-col {
        padding-left: 10px;
      }
    }
  }

  .shop-point-slider {
    .gallery-slider-thumbnails-item-inner {
      border: 0;
    }
    #tns2-iw{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

}

#shopPointTopBar{
  margin: 1rem;
}
