<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block rc_shop_point_detail %}
    <sw-page class="rc-shop-point-detail">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block rc_shop_point_detail_header %}
            <template #smart-bar-header>
                <h2 v-if="shopPoint">
                    {{ shopPoint.name }}
                </h2>
                <h2
                        v-else
                        class="sw-product-stream-detail__empty-title"
                >
                    {{ placeholder(shopPoint, 'name', $tc('rc-shop-point.detail.textHeadline')) }}
                </h2>
            </template>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block rc_shop_point_detail_actions %}
            <template #smart-bar-actions>
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block rc_shop_point_detail_actions_abort %}
                    <sw-button
                            v-tooltip.bottom="tooltipCancel"
                            :disabled="isLoading"
                            @click="onCancel"
                    >
                        {{ $tc('rc-shop-point.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                <sw-button-group
                        v-tooltip.bottom="{
                message: $tc('sw-privileges.tooltip.warning'),
                disabled: acl.can('product_stream.editor'),
                showOnDisabledElements: true
            }"
                        class="sw-product-stream-detail__save-button-group"
                        :split-button="true"
                >
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block rc_shop_point_detail_actions_save %}
                        <sw-button-process
                                v-model="isSaveSuccessful"
                                v-tooltip.bottom="tooltipSave"
                                class="sw-product-stream-detail__save-action"
                                :is-loading="isLoading"
                                :disabled="!acl.can('product_stream.editor')"
                                variant="primary"
                                @click.prevent="onSave"
                        >
                            {{ $tc('rc-shop-point.detail.buttonSave') }}
                        </sw-button-process>
                    {% endblock %}

                </sw-button-group>
            </template>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block rc_shop_point_detail_language_switch %}
            <template #language-switch>
                <sw-language-switch
                        :save-changes-function="saveOnLanguageChange"
                        :abort-change-function="abortOnLanguageChange"
                        :disabled="!shopPointId"
                        @on-change="onChangeLanguage"
                />
            </template>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block rc_shop_point_detail_content %}
            <template #content>
                <sw-card-view>
                    {% block rc_shop_point_detail_content_tabs %}
                        <sw-tabs

                            class="shop-point-detail-page__tabs"
                            position-identifier="shop-point-detail"
                        >
                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block rc_shop_point_detail_content_tabs_general %}
                                <sw-tabs-item
                                        class="rc-shop-point-detail__tab-general"
                                        :route="{ name: 'shop.points.detail.general', params: { id: $route.params.id } }"
                                        :title="$tc('rc-shop-point.detail.tabGeneral')"
                                >
                                    {{ $tc('rc-shop-point.detail.tabGeneral') }}
                                </sw-tabs-item>
                            {% endblock %}

                            {% block rc_shop_point_media_content_tabs_general %}
                                <sw-tabs-item
                                        v-if="shopPointId"
                                        class="rc-shop-point-detail__tab-media"
                                        :route="{ name: 'shop.points.detail.media', params: { id: $route.params.id } }"
                                        :title="$tc('rc-shop-point.detail.tabMedia')"
                                >
                                    {{ $tc('rc-shop-point.detail.tabMedia') }}
                                </sw-tabs-item>
                            {% endblock %}

                            {% block rc_shop_point_address_content_tabs_general %}
                                <sw-tabs-item
                                        class="rc-shop-point-detail__tab-address"
                                        :route="{ name: 'shop.points.detail.address', params: { id: $route.params.id } }"
                                        :title="$tc('rc-shop-point.detail.address.tabName')"
                                >
                                    {{ $tc('rc-shop-point.detail.address.tabName') }}
                                </sw-tabs-item>
                            {% endblock %}

                            {% block rc_shop_point_opening_hours_content_tabs_general %}
                                <sw-tabs-item
                                        class="rc-shop-point-detail__tab-opening-hours"
                                        :route="{ name: 'shop.points.detail.openingHours', params: { id: $route.params.id } }"
                                        :title="$tc('rc-shop-point.opening-hours')"
                                >
                                    {{ $tc('rc-shop-point.detail.tabOpeningHours') }}
                                </sw-tabs-item>
                            {% endblock %}

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block rc_shop_point_layout_content_tabs_layout %}
                                <sw-tabs-item
                                        v-if="shopPointId"
                                        class="rc-shop-point-detail__tab-layout"
                                        :route="{ name: 'shop.points.detail.layout', params: { id: $route.params.id } }"
                                        :title="$tc('rc-shop-point.detail.tabLayout')"
                                >
                                    {{ $tc('rc-shop-point.detail.tabLayout') }}
                                </sw-tabs-item>
                            {% endblock %}

                        </sw-tabs>
                    {% endblock %}
                    <router-view></router-view>
                </sw-card-view>


            </template>
        {% endblock %}


    </sw-page>
{% endblock %}
