<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_shop_point_map_config %}
<div class="sw-cms-el-config-shop-point-map">
    {% block sw_cms_element_map_config_type %}
        <sw-select-field
                v-model="element.config.mapType.value"
                class="sw-cms-el-config-image__display-type"
                :label="$tc('sw-cms.elements.map.config.choose_type')"
                @change="onChangeMapType"
        >
            <option value="roadmap">
                Road map
            </option>
            <option value="satellite">
                Satellite
            </option>
            <option value="hybrid">
                Hybrid
            </option>
            <option value="terrain">
                Terrain
            </option>
            <option value="styled_map">
                Our custom style
            </option>
        </sw-select-field>
    {% endblock %}
    {% block sw_cms_element_map_height %}
        <sw-text-field
                v-model="element.config.height.value"
                :label="$tc('sw-cms.elements.map.config.height.label')"
                placeholder="$tc('sw-cms.elements.map.config.height.placeHolder')"
                @input="onChangeHeight"
                @change="onChangeHeight"
        />
    {% endblock %}

    {% block sw_cms_element_image_config_text %}
        <div class="sw-cms-el-config-pin-settings">
            <img :src="'/shoppoints/static/marker_parts.png' | asset">
{#            <img src="https://developers.google.com/static/maps/documentation/javascript/advanced-markers/images/marker_parts.png" />#}
            <div class="pin-colors">
            <sw-colorpicker
                    class="sw-color-picker"
                    :label="$tc('sw-cms.elements.map.config.pin.border_color')"
                    v-model="element.config.pinBorderColor.value"
                    value="#B31512"
                    colorOutput="auto"
                    :alpha="true"
                    :disabled="false"
                    :colorLabels="true">
            </sw-colorpicker>
            <sw-colorpicker
                    :label="$tc('sw-cms.elements.map.config.pin.background_color')"
                    v-model="element.config.pinBackgroundColor.value"
                    value="#EA4335"
                    colorOutput="auto"
                    :alpha="true"
                    :disabled="false"
                    :colorLabels="true">
            </sw-colorpicker>
            <sw-colorpicker
                    :label="$tc('sw-cms.elements.map.config.pin.glyph_color')"
                    v-model="element.config.pinGlyphColor.value"
                    value="#B31512"
                    colorOutput="auto"
                    :alpha="true"
                    :disabled="false"
                    :colorLabels="true">
            </sw-colorpicker>
            </div>
        </div>
        <div>
            <sw-text-field
                    v-model="element.config.zoom.value"
                    :label="$tc('sw-cms.elements.map.config.zoom.label')"
                    placeholder="$tc('sw-cms.elements.map.config.zoom.placeholder')"
                    @input="onChangeZoom"
                    @change="onChangeZoom"
            />
            <sw-text-field
                    v-model="element.config.center.value"
                    :label="$tc('sw-cms.elements.map.config.map_center.label')"
                    placeholder="$tc('sw-cms.elements.map.config.map_center.placeholder')"
                    @input="onChangeCenter"
                    @change="onChangeCenter"
            />
        </div>
    {% endblock %}
</div>
{% endblock %}
