@import "~scss/variables";
.sw-cms-el-config-pin-settings {
  display: flex;
  flex-direction: row-reverse;
  img {
    width: 50%;
    height: auto;
    object-fit: contain;
    margin-left: 15px;
  }
  .pin-colors {
    width: 50%;
  }
}

.sw-color-picker {
  z-index: 1001;
}