@import "~scss/variables";

.sw-cms-el-product-listing {
    .sort-wrapper {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin-left: auto;
        .zipcode-wrapper {
            display: flex;
            flex-direction: row;
        }
    }
    .shop-point-wrapper {
        display: flex;

        .shop-point-box {
            margin: 3px;
            border: 1px solid black;
            height: 250px;
            max-width: calc(30% - 6px);
            width: 100%;

            img {
                width: calc(100% - 60px);
                margin: 10px 30px;
            }

            button {
                padding: 5px 15px;
                margin-left: 50%;
                transform:translateX(-50%);
                overflow: hidden;
            }
        }
    }
    .sw-cms-el-product-listing__pagination {
        width: 50%;
        margin-top: 40px;
        display: flex;
        .sw-cms-el-product-listing__pagination-entry {
            padding: 0 5px;
        }
    }
}

