<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_product_listing %}
    <div class="sw-cms-el-product-listing">
        <div class="sort-wrapper">
            <select>
                <option selected>A-Z</option>
            </select>
            <div class="zipcode-wrapper">
                <input placeholder="Enter zipcode"/>
                <button>Current Location</button>
            </div>
        </div>
        <div class="shop-point-wrapper">
            <div class="shop-point-box">
                <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset"
                     alt=""
                >
                <button>Shop Point</button>
            </div>
            <div class="shop-point-box">
                <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset"
                     alt=""
                >
                <button>Shop Point</button>
            </div>
            <div class="shop-point-box">
                <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset"
                     alt=""
                >
                <button>Shop Point</button>
            </div>
            <div class="shop-point-box">
                <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset"
                     alt=""
                >
                <button>Shop Point</button>
            </div>
        </div>
        <div class="sw-cms-el-product-listing__pagination">
            <div class="sw-cms-el-product-listing__pagination-entry">
                <sw-icon
                        name="regular-chevron-left-xxs"
                        size="20px"
                />
            </div>

            <div class="sw-cms-el-product-listing__pagination-entry">
                1
            </div>
            <div class="sw-cms-el-product-listing__pagination-entry">
                2
            </div>
            <div class="sw-cms-el-product-listing__pagination-entry">
                3
            </div>

            <div class="sw-cms-el-product-listing__pagination-entry">
                <sw-icon
                        name="regular-chevron-right-xxs"
                        size="20px"
                />
            </div>
        </div>
    </div>
{% endblock %}
