<div>
    {% block rc_shop_point_address %}

    {% block rc_shop_point_detail_address_form_coordinates_field %}
    <sw-text-field
        v-if="shopPoint"
        v-model="shopPoint.coordinates"
        :label="$tc('rc-shop-point.detail.labelCoordinates')"
        :placeholder="placeholder(shopPoint, 'coordinates', $tc('rc-shop-point.detail.placeholderCoordinates'))"
    />
    {% endblock %}

    <sw-container
            columns="4fr 1fr"
            gap="0px 15px"
    >
        {% block rc_shop_point_detail_address_form_street_field %}
            <sw-text-field
                    v-if="shopPoint"
                    v-model="shopPoint.street"
                    :label="$tc('rc-shop-point.detail.address.street')"
                    :placeholder="$tc('rc-shop-point.detail.address.street')"
            />
        {% endblock %}

        {% block rc_shop_point_detail_address_form_number_field %}
            <sw-text-field
                    v-if="shopPoint"
                    v-model="shopPoint.number"
                    :label="$tc('rc-shop-point.detail.address.number')"
                    :placeholder="$tc('rc-shop-point.detail.address.number')"
            />
        {% endblock %}
    </sw-container>

    <sw-container
            columns="1fr 4fr"
            gap="0px 15px"
    >
        {% block rc_shop_point_detail_address_form_zip_code_field %}
            <sw-text-field
                    v-if="shopPoint"
                    v-model="shopPoint.zipCode"
                    :label="$tc('rc-shop-point.detail.address.zipCode')"
                    :placeholder="$tc('rc-shop-point.detail.address.zipCode')"
            />
        {% endblock %}

        {% block rc_shop_point_detail_address_form_cityfield %}
            <sw-text-field
                    v-if="shopPoint"
                    v-model="shopPoint.city"
                    :label="$tc('rc-shop-point.detail.address.city')"
                    :placeholder="$tc('rc-shop-point.detail.address.city')"
            />
        {% endblock %}
    </sw-container>







{#    <div v-for="day in days">#}
{#        <sw-card :title="$tc('rc-shop-point.days.' + day)">#}
{#            <sw-container#}
{#                columns="1fr 1fr 1fr"#}
{#                gap="0px 15px"#}
{#            >#}
{#                <div v-for="hour in shopPoint['openingHours' + day].hours">#}
{#                    <sw-container#}
{#                        columns="1fr 1fr"#}
{#                        gap="10px"#}
{#                    >#}
{#                        <sw-datepicker#}
{#                            class="opening-hour-time-picker"#}
{#                            date-type="time"#}
{#                            :label="$tc('from')"#}
{#                            :placeholder="$tc('from')"#}
{#                            v-model="hour.start"#}
{#                            required#}
{#                        />#}
{#                        <sw-datepicker#}
{#                            class="opening-hour-time-picker"#}
{#                            date-type="time"#}
{#                            :label="$tc('to')"#}
{#                            :placeholder="$tc('to')"#}
{#                            v-model="hour.end"#}
{#                            required#}
{#                        />#}
{#                        <sw-button#}
{#                            class="pening-hour-remove-button"#}
{#                            variant="ghost-danger"#}
{#                            size="small"#}
{#                            :square="true"#}
{#                            @click="removeHour(day, hour)"#}
{#                        >#}
{#                            <sw-icon#}
{#                                name="regular-trash"#}
{#                                color="#de294c"#}
{#                                small#}
{#                            />#}
{#                        </sw-button>#}

{#                    </sw-container>#}
{#                </div>#}

{#                <sw-button#}
{#                        v-if="shopPoint['openingHours' + day].hours.length < 3"#}
{#                        class="opening-hour-add-button"#}
{#                        variant="ghost"#}
{#                        size="large"#}
{#                        @click="addHour(day)"#}
{#                >#}
{#                    {{ $tc('rc-shop-point.add-opening-hours') }}#}
{#                </sw-button>#}
{#            </sw-container>#}
{#        </sw-card>#}
{#    </div>#}
    {% endblock %}
</div>
