<div id="map" style="height: {{ element.config.height.value }}" data-settings="{{ element.data.settings | json_encode }}" data-shoppoints='{{ element.data.shopPointsInfo |json_encode | raw }}' data-shop-point-map>
    {% for el in element.data.listing.elements %}
        <div class="shop-point-element d-none" data-url="" data-coords="{{ el.coordinates }}" data-name="{{ el.name }}"
             data-desc="{{ el.description }}">test
        </div>
    {% endfor %}

</div>