{% block element_shop_point_listing %}

    {% set searchResult = element.data.listing %}
    {% set listingColumns = 'col-sm-6 col-lg-4 col-xl-3' %}

    {% if section and section.type == 'sidebar' %}
        {% set listingColumns = 'col-sm-6 col-lg-6 col-xl-4' %}
    {% endif %}

    {% set slot = cmsPage.getFirstElementOfType('shop-point-listing') %}
    {% set filterUrl = null %}
    {% set dataUrl = null %}

    {% if cmsPage %}
        {% set dataUrl = url('frontend.cms.page', { id: element.id }) %}
    {% endif %}

    {% set sidebar = sectionType == 'sidebar' %}
    {% set params = { slots: slot.id, 'no-aggregations': 1 } %}

    {% block element_shop_point_listing_wrapper %}
        {% sw_include '@ShopPoints/storefront/component/shopPoint/listing.html.twig' with {
            searchResult: searchResult,
            dataUrl: dataUrl,
            filterUrl: filterUrl,
            params: params,
            sidebar: sidebar,
            boxLayout: element.translated.config.boxLayout.value,
            displayMode: element.translated.config.displayMode.value,
            listingColumns: listingColumns
        } %}
    {% endblock %}
{% endblock %}
