@import "~scss/variables";

.sw-cms-el-product-listing-preview {
    height: 100%;
    .sort-wrapper {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        width: 50%;
        .zipcode-wrapper {
            display: flex;
            flex-direction: row;
            height: 20px;
            width: 100%;

            input {
                width: 50%;
            }
            button {
                width: 50%;
            }
        }
    }
    .shop-point-wrapper {
        display: flex;
        height: calc(100% - 50px);
        .shop-point-box {
            margin: 1px;
            border: 1px solid black;
            height: 100%;
            max-width: calc(25% - 2px);
            width: 100%;

            img {
                width: calc(100% - 2px);
                margin: 1px
            }

            button {
                margin-left: 50%;
                transform:translateX(-50%);
                font-size: 8px;
                width: 28px;
            }
        }
    }
    .sw-cms-el-product-listing__pagination {
        width: 50%;
        display: flex;
        margin-top: 5px;
        font-size: 8px;
        .sw-cms-el-product-listing__pagination-entry {
            padding: 0 5px;
            span {
                height: 8px !important;
                width: 8px !important;
            }
        }
    }
}
//.sw-cms-slot__settings-action {
//    display: none;
//}
