{% block sw_cms_element_shop_point_listing_preview %}
        <div class="sw-cms-el-product-listing-preview">
            <div class="sort-wrapper">
                <select>
                    <option selected>A-Z</option>
                </select>
                <div class="zipcode-wrapper">
                    <input placeholder="3600"/>
                    <button>Loc</button>
                </div>
            </div>
            <div class="shop-point-wrapper">
                <div class="shop-point-box">
                    <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset"
                         alt=""
                    >
                    <button>Point</button>
                </div>
                <div class="shop-point-box">
                    <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset"
                         alt=""
                    >
                    <button>Point</button>
                </div>
                <div class="shop-point-box">
                    <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset"
                         alt=""
                    >
                    <button>Point</button>
                </div>
                <div class="shop-point-box">
                    <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset"
                         alt=""
                    >
                    <button>Point</button>
                </div>
            </div>
            <div class="sw-cms-el-product-listing__pagination">
                <div class="sw-cms-el-product-listing__pagination-entry">
                    <sw-icon
                            name="regular-chevron-left-xxs"
                            size="20px"
                    />
                </div>

                <div class="sw-cms-el-product-listing__pagination-entry">
                    1
                </div>
                <div class="sw-cms-el-product-listing__pagination-entry">
                    2
                </div>
                <div class="sw-cms-el-product-listing__pagination-entry">
                    3
                </div>

                <div class="sw-cms-el-product-listing__pagination-entry">
                    <sw-icon
                            name="regular-chevron-right-xxs"
                            size="20px"
                    />
                </div>
            </div>
        </div>
{% endblock %}
