<div>
    {% block rc_shop_point_detail_basic_info %}
    <sw-container
        columns="1fr 1fr"
        gap="0px 30px"
    >

        {% block rc_shop_point_detail_basic_form_active_field %}
        <sw-switch-field
                v-if="shopPoint"
                v-model="shopPoint.active"
                class="sw-bulk-edit-save-modal-confirm__trigger-flows-switch"
                :label="$tc('rc-shop-point.detail.isActive')"
        />
        {% endblock %}

        {% block rc_shop_point_detail_basic_form_highLight_field %}
        <sw-switch-field
                v-if="shopPoint"
                v-model="shopPoint.highlighted"
                class="sw-bulk-edit-save-modal-confirm__trigger-flows-switch"
                :label="$tc('rc-shop-point.detail.isHighlighted')"
        />
        {% endblock %}
    </sw-container>



    {% block rc_shop_point_detail_basic_form_name_field %}
    <sw-text-field
        v-if="shopPoint"
        v-model="shopPoint.name"
        :label="$tc('rc-shop-point.detail.labelName')"
        :placeholder="placeholder(shopPoint, 'name', $tc('rc-shop-point.detail.placeholderName'))"
    />
    {% endblock %}

    <sw-container
            columns="1fr 1fr 1fr"
            gap="0px 30px"
    >
        {% block rc_shop_point_detail_basic_form_contact_person_field %}
            <sw-text-field
                    v-if="shopPoint"
                    v-model="shopPoint.nameContactPerson"
                    :label="$tc('rc-shop-point.detail.contactPerson')"
                    :placeholder="$tc('rc-shop-point.detail.contactPerson')"
            />
        {% endblock %}

        {% block rc_shop_point_detail_basic_form_phone_number_field %}
            <sw-text-field
                    v-if="shopPoint"
                    v-model="shopPoint.phoneNumber"
                    :label="$tc('rc-shop-point.detail.phoneNumber')"
                    :placeholder="$tc('rc-shop-point.detail.phoneNumber')"
            />
        {% endblock %}

        {% block rc_shop_point_detail_basic_form_contact_email_field %}
            <sw-text-field
                    v-if="shopPoint"
                    v-model="shopPoint.contactEmail"
                    :label="$tc('rc-shop-point.detail.contactEmail')"
                    :placeholder="$tc('rc-shop-point.detail.contactEmail')"
            />
        {% endblock %}
    </sw-container>

    {% block rc_shop_point_detail_basic_form_description_field %}
    <sw-textarea-field
        v-if="shopPoint"
        v-model="shopPoint.description"
        :label="$tc('rc-shop-point.detail.labelDescription')"
        :placeholder="placeholder(shopPoint, 'description', $tc('rc-shop-point.detail.placeholderDescription'))"
    />

    {% endblock %}

{#    {% block sw_category_detail_menu_media %}#}
{#    <sw-upload-listener#}
{#        :key="shopPoint.id + 'uploadListener'"#}
{#        :upload-tag="shopPoint.id"#}
{#        auto-upload#}
{#        @media-upload-finish="onSetMediaItem"#}
{#    />#}
{#    <sw-media-upload-v2#}
{#        :key="shopPoint.id + 'upload'"#}
{#        :label="$tc('sw-category.base.menu.imageLabel')"#}
{#        variant="regular"#}
{#        :disabled="!acl.can('category.editor')"#}
{#        :source="mediaItem"#}
{#        :upload-tag="shopPoint.id"#}
{#        :allow-multi-select="false"#}
{#        :default-folder="shopPoint.getEntityName()"#}
{#        @media-drop="onMediaDropped"#}
{#        @media-upload-sidebar-open="showMediaModal = true"#}
{#        @media-upload-remove-image="onRemoveMediaItem"#}
{#    />#}
{#    <sw-media-modal-v2#}
{#        v-if="showMediaModal"#}
{#        :allow-multi-select="false"#}
{#        :entity-context="shopPoint.getEntityName()"#}
{#        @media-modal-selection-change="onMediaSelectionChange"#}
{#        @modal-close="showMediaModal = false"#}
{#    />#}
{#    {% endblock %}#}
    {% endblock %}
</div>



