<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_shop_pint_listing_preview %}
<div class="sw-cms-preview-shop-point-listing">
    <div class="sort-wrapper">
        <select>
            <option selected>A-Z</option>
        </select>
        <div class="zipcode-wrapper">
            <input placeholder="3600"/>
            <button>Loc</button>
        </div>
    </div>
    <div class="shop-point-wrapper">
        <sw-cms-shop-point-box-preview />
        <sw-cms-shop-point-box-preview />
        <sw-cms-shop-point-box-preview />
        <sw-cms-shop-point-box-preview />
    </div>
    <div class="sw-cms-el-product-listing__pagination">
        <div class="sw-cms-el-product-listing__pagination-entry">
            <sw-icon
                    name="regular-chevron-left-xxs"
                    size="20px"
            />
        </div>

        <div class="sw-cms-el-product-listing__pagination-entry">
            1
        </div>
        <div class="sw-cms-el-product-listing__pagination-entry">
            2
        </div>
        <div class="sw-cms-el-product-listing__pagination-entry">
            3
        </div>

        <div class="sw-cms-el-product-listing__pagination-entry">
            <sw-icon
                    name="regular-chevron-right-xxs"
                    size="20px"
            />
        </div>
    </div>
</div>
{% endblock %}
