@import "~scss/variables";

.sw-cms-preview-shop-point-listing {
    display: flex;
    flex-direction: column;
    .sort-wrapper {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        width: 50%;
        .zipcode-wrapper {
            display: flex;
            flex-direction: row;
            height: 20px;
            width: 100%;

            input {
                width: 50%;
            }
            button {
                width: 50%;
            }
        }
    }
    .shop-point-wrapper {
        display: flex;
        flex-direction: row;
    }
    .sw-cms-el-product-listing__pagination {
        width: 50%;
        display: flex;
        margin: 5px 0 10px 0;
        font-size: 14px;
        .sw-cms-el-product-listing__pagination-entry {
            padding: 0 5px;
            span {
                height: 14px !important;
                width: 14px !important;
            }
        }
    }
    //padding: 15px;
    //display: grid;
    //justify-items: start;
    //justify-content: stretch;
    //align-items: start;
    //align-content: stretch;
    //grid-template-columns: 95px 1fr 1fr;
    //grid-gap: 10px;
    //height: 100%;
    //
    //.sw-cms-preview-shop-point-listing__filter-panel {
    //    width: 100%;
    //    padding: 5px;
    //    background: $color-gray-100;
    //    border: 1px solid $color-gray-300;
    //    border-radius: 3px;
    //}
    //
    //.sw-cms-preview-shop-point-listing__filter {
    //    height: 12px;
    //    margin-bottom: 8px;
    //    background: $color-gray-300;
    //    border-radius: 3px;
    //
    //    &:last-child {
    //        margin-bottom: 0;
    //    }
    //}
}
