{% block component_product_box_action_inner %}
    {% set id = shopPoint.id %}
    <div class="product-action">
        <div class="d-grid">
            <a
                href="{{ path('frontend.detail.shopPoint.page', {'shopPointId': id}) }}"
                class="btn btn-buy"
                title="{{ "rc-shop-point.listing.detail"|trans|striptags }}">
                {{ "rc-shop-point.listing.detail"|trans|sw_sanitize }}
            </a>
        </div>
    </div>
{% endblock %}
