{% block component_product_box %}
    {% if shopPoint %}
        {% set name = shopPoint.name %}
        {% set id = shopPoint.id %}
        {% set cover = shopPoint.cover.media %}
{#        {% set variation = product.variation %}#}
{#        {% set displayParent = product.variantListingConfig.displayParent and product.parentId === null %}#}

        <div class="card product-box box-{{ layout }}">
            {% block component_product_box_content %}
                <div class="card-body">

                    {% block component_product_box_image %}
                        <div class="product-image-wrapper">
{#                             fallback if display mode is not set#}
                            {% set displayMode = displayMode ?: 'standard' %}

{#                             set display mode 'cover' for box-image with standard display mode#}
                            {% if layout == 'image' and displayMode == 'standard' %}
                                {% set displayMode = 'cover' %}
                            {% endif %}

                            {% block component_product_box_image_link %}
                                <a href="{{ path('frontend.detail.shopPoint.page', { 'shopPointId': id }) }}"
                                   title="{{ name }}"
                                   class="product-image-link is-{{ displayMode }}">
                                    {% block component_product_box_image_link_inner %}
                                        {% if cover.url %}
                                            {% set attributes = {
                                                'class': 'product-image is-'~displayMode,
                                                'alt': (cover.translated.alt ?: name),
                                                'title': (cover.translated.title ?: name),
                                                'loading': 'lazy'
                                            } %}

                                            {% if displayMode == 'cover' or displayMode == 'contain' %}
                                                {% set attributes = attributes|merge({ 'data-object-fit': displayMode }) %}
                                            {% endif %}

                                            {% block component_product_box_image_thumbnail %}
                                                {% sw_thumbnails 'product-image-thumbnails' with {
                                                    media: cover,
                                                    sizes: sizes
                                                } %}
                                            {% endblock %}
                                        {% else %}
                                            {% block component_product_box_image_placeholder %}
                                                <div class="product-image-placeholder">
                                                    {% sw_icon 'placeholder' style {
                                                        'size': 'fluid'
                                                    } %}
                                                </div>
                                            {% endblock %}
                                        {% endif %}
                                    {% endblock %}
                                </a>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block component_product_box_info %}
                        <div class="product-info">
                            {% block component_product_box_name %}
                                <a href="{{ path('frontend.detail.shopPoint.page', {'shopPointId': id}) }}"
                                   class="product-name"
                                   title="{{ name }}">
                                    {{ name }}
                                </a>
                            {% endblock %}

                            {% block component_product_box_action %}
                                {% sw_include '@ShopPoints/storefront/component/shopPoint/card/action.html.twig' %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
