<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block rc_shop_point_list %}
    <sw-page class="rc-shop-point-list">

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_product_stream_list_search_bar %}
            <template #search-bar>
                <sw-search-bar
                        :initial-search-type="$tc('rc-shop-point.general.shopPoints')"
                        :placeholder="$tc('rc-shop-point.list.placeholderSearchBar')"
                        @search="onSearch"
                        entity-search-color="#ff68b4"
                />
            </template>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block rc_shop_point_list_smart_bar_header %}
            <template #smart-bar-header>
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block rc_shop_point_list_smart_bar_header_title %}
                    <h2>
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block rc_shop_point_list_smart_bar_header_title_text %}
                            {{ $tc('rc-shop-point.general.shopPoints') }}
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block rc_shop_point_smart_bar_header_amount %}
                            <span
                                v-if="!isLoading"
                                class="sw-page__smart-bar-amount"
                            >
                                ({{ total }})
                            </span>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}


        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block rc_shop_point_list_smart_bar_actions %}
            <template #smart-bar-actions>
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block rc_shop_point_list_smart_bar_actions_add %}
                    <sw-button
                        class="sw-product-stream-list__create-action"
                        :router-link="{ name: 'shop.points.create.general' }"
                        variant="primary"
                    >
                        {{ $tc('rc-shop-point.list.buttonAddShopPoint') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block rc_shop_point_list_language_switch %}
            <template #language-switch>
                <sw-language-switch @on-change="onChangeLanguage" />
            </template>
        {% endblock %}

        <template #content>

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block rc_shop_point_list_content %}
                <div class="rc-shop-points__content">

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block rc_shop_point_list_grid %}
                        <sw-entity-listing
                                v-if="isLoading || (shopPoints && entitySearchable)"
                                ref="rcShopPointGrid"
                                class="rc-shop-point-list-grid"
                                :items="shopPoints"
                                :columns="getShopPointColumns()"
                                :repository="shopPointRepository"
                                detail-route="shop.points.detail"
                                :is-loading="isLoading"
                                :disable-data-fetching="true"
                                :sort-by="currentSortBy"
                                :sort-direction="sortDirection"
                                :criteria-limit="limit"
                                identifier="rc-shop-point-list"
                                @page-change="onPageChange"
                                @column-sort="onSortColumn"
                                @items-delete-finish="getList"
                                @delete-item-failed="onDeleteItemFailed"
                                @delete-items-failed="onDeleteItemsFailed"
                        >

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block rc_shop_point_list_grid_column_active %}
                                <template #column-active="{item}">
                                    <template v-if="item.active">
                                        {{ $tc('rc-shop-point.list.active') }}
                                    </template>

                                    <template v-else>
                                        {{ $tc('rc-shop-point.list.inActive') }}
                                    </template>
                                </template>
                            {% endblock %}

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block rc_shop_point_list_grid_colum_updated_at %}
                                <template #column-updatedAt="{item}">
                                    <template v-if="item.updatedAt">
                                        {{ item.updatedAt|date }}
                                    </template>

                                    <template v-else>
                                        {{ item.createdAt|date }}
                                    </template>
                                </template>
                            {% endblock %}

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block rc_shop_point_list_grid_delete_action %}
                                <template #delete-action="{item, showDelete, allowDelete}">
                                    <sw-context-menu-item
                                            class="sw-entity-listing__context-menu-edit-delete"
                                            variant="danger"
                                            @click="showDelete(item.id)"
                                    >
                                        {{ $tc('global.default.delete') }}
                                    </sw-context-menu-item>
                                </template>
                            {% endblock %}
                        </sw-entity-listing>
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block rc_shop_point_list_empty_state %}
                        <template v-if="!isLoading && !total">
                            <sw-empty-state
                                    v-if="isValidTerm(term)"
                                    :title="$tc('sw-empty-state.messageNoResultTitle')"
                                    color="#ff68b4"
                            >
                                <template #default>
                                    {{ $tc('sw-empty-state.messageNoResultSublineBefore') }}
                                    <router-link
                                            class="sw-empty-state__description-link"
                                            :to="{ name: 'sw.profile.index.searchPreferences' }"
                                    >
                                        {{ $tc('sw-empty-state.messageNoResultSublineLink') }}
                                    </router-link>
                                    {{ $tc('sw-empty-state.messageNoResultSublineAfter') }}
                                </template>
                            </sw-empty-state>

                            <sw-empty-state
                                    v-else
                                    :title="$tc('rc-shop-point.list.messageEmpty')"
                            />
                        </template>
                    {% endblock %}
                </div>
            {% endblock %}
        </template>

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block rc_shop_point_list_sidebar %}
            <template #sidebar>
                <sw-sidebar>

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_product_stream_list_sidebar_refresh %}
                        <sw-sidebar-item
                                icon="regular-undo"
                                :title="$tc('sw-product-stream.list.titleSidebarItemRefresh')"
                                @click="onRefresh"
                        />
                    {% endblock %}
                </sw-sidebar>
            </template>
        {% endblock %}

    </sw-page>
{% endblock %}

