<div>
    {% block rc_shop_point_opening_hours %}

    <div v-for="day in days">
        <sw-card
            :title="$tc('rc-shop-point.days.' + day)"
            positionIdentifier="1"
        >
            <sw-container
                columns="1fr 1fr 1fr"
                gap="0px 15px"
            >
                <div v-for="hour in shopPoint['openingHours' + day].hours">
                    <sw-container
                        columns="1fr 1fr"
                        gap="10px"
                    >
                        <sw-datepicker
                            class="opening-hour-time-picker"
                            date-type="time"
                            :label="$tc('rc-shop-point.from')"
                            :placeholder="$tc('rc-shop-point.from')"
                            v-model="hour.start"
                            required
                        />
                        <sw-datepicker
                            class="opening-hour-time-picker"
                            date-type="time"
                            :label="$tc('rc-shop-point.to')"
                            :placeholder="$tc('rc-shop-point.to')"
                            v-model="hour.end"
                            required
                        />
                        <sw-button
                            class="pening-hour-remove-button"
                            variant="ghost-danger"
                            size="small"
                            :square="true"
                            @click="removeHour(day, hour)"
                        >
                            <sw-icon
                                name="regular-trash"
                                color="#de294c"
                                small
                            />
                        </sw-button>

                    </sw-container>
                </div>

                <sw-button
                        v-if="shopPoint['openingHours' + day].hours.length < 3"
                        class="opening-hour-add-button"
                        variant="ghost"
                        size="large"
                        @click="addHour(day)"
                >
                    {{ $tc('rc-shop-point.add-opening-hours') }}
                </sw-button>
            </sw-container>
        </sw-card>
    </div>
    {% endblock %}
</div>
