{% sw_extends '@Storefront/storefront/layout/header/search-suggest.html.twig' %}

{% block shop_point_list_items %}
    {% for shopPoint in page.extensions.shopPoints.listing %}
        <li class="search-suggest-product js-result">
            {% block layout_search_suggest_result_link2 %}
                <a href="{{ seoUrl('frontend.detail.shopPoint.page', {'shopPointId': shopPoint.id}) }}"
                   title="{{ shopPoint.name }}"
                   class="search-suggest-product-link">
                    <div class="row align-items-center g-0">
                        {% block layout_search_suggest_result_image2 %}
                            <div class="col-auto search-suggest-product-image-container">
                                {% if shopPoint.cover.media.url %}
                                    {% sw_thumbnails 'search-suggest-product-image-thumbnails' with {
                                        media: shopPoint.cover.media,
                                        sizes: {
                                            'default': '100px'
                                        },
                                        attributes: {
                                            'class': 'search-suggest-product-image',
                                            'alt': (shopPoint.cover.media.translated.alt ?: ''),
                                            'title': (shopPoint.cover.media.translated.title ?: '')
                                        }
                                    } %}
                                {% else %}
                                    {% sw_icon 'placeholder' style {
                                        'size': 'lg'
                                    } %}
                                {% endif %}
                            </div>
                        {% endblock %}

                        {% block layout_search_suggest_result_name2 %}
                            <div class="col search-suggest-product-name">
                                {{ shopPoint.name }}
                            </div>
                        {% endblock %}

                        {% block layout_search_suggest_result_price2 %}
                            <div class="col-auto search-suggest-product-price">
                                {{ "rc-shop-point.search.shop-point"|trans }}
                            </div>
                        {% endblock %}
                    </div>
                </a>
            {% endblock %}
        </li>
    {% endfor %}
{% endblock %}


{% block layout_search_suggest_results %}

    {% if page.extensions.shopPoints is defined %}
        {{ block('shop_point_list_items') }}
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block layout_search_suggest_result_total %}
    {% if page.searchResult.total == 0 and page.extensions.shopPoints.listing.total == 0 %}
        {{ block('layout_search_suggest_no_result') }}
    {% else %}
        {{ block('layout_search_suggest_result_total_result') }}
    {% endif %}
{% endblock %}

{% block layout_search_suggest_result_total_result %}
    {% if page.searchResult.total > 0 %}
        {{ parent() }}
    {% endif %}
{% endblock %}