{% sw_extends '@Storefront/storefront/layout/header/top-bar.html.twig' %}

{% block layout_header_top_bar %}
    <div class="top-bar d-none d-lg-block">
        <nav class="top-bar-nav">

            {% block layout_header_shop_points %}
                {% sw_include '@ShopPoints/storefront/layout/header/actions/shop-points.html.twig' %}
            {% endblock %}

            {{ block('layout_header_top_bar_language') }}

            {{ block('layout_header_top_bar_currency') }}
        </nav>
    </div>
{% endblock %}
