<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_shop_point_listing %}
<div class="sw-cms-block-shop-point-listing">
    <slot name="content"></slot>
</div>
{% endblock %}
