{% block block_image_text %}
    {% set element = block.slots.getSlot('content') %}

    <div class="col-md-12" data-cms-element-id="{{ element.id }}">
        {% block block_image_text_left_inner %}
            {% sw_include "@ShopPoints/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}
    </div>
{% endblock %}
