@import "~scss/variables";

.sw-cms-el-preview-map-box {
    height: calc(100% + 20px);
    width: calc(100% + 20px);
    display: block;
    img {
        transform: translate(-10px, -10px);
        width: 100%;
        border-radius: 5px;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}
