<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_product_box_preview %}
<div class="sw-cms-el-preview-map-box">
    <img :src="'/shoppoints/static/map.png' | asset">
</div>
{% endblock %}
