@import "~scss/variables";

    .sw-cms-el-shop-point-map__content {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        align-content: start;
        justify-content: center;
        position: relative;

        img {
            width: 100%;
            object-fit: cover;
            overflow: hidden;
        }
    }
