
{% block sw_cms_element_shop_point_map %}
    {% block sw_cms_element_shop_point_map_content %}
    <div
        class="sw-cms-el-shop-point-map__content"
        :style="styles"
    >
        <img :src="'/shoppoints/static/map.png' | asset"
             :style="imgStyles">
    </div>
    {% endblock %}
{% endblock %}
